body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 0px;
}

/* .fa-solid fa-house {
    color:aqua;
    width: 100px;
    height: 100px;
    font-size: large;
} */

header {
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    height: auto;
    top: 0;

}

.main {
    position: absolute;
    top: 748px;
    /* this is currently the height of the nav bar, adjust accordingly to not cover the video from header 
    bottom: 30px; */
    width: 80%;
    min-height: 650px;
    height: auto; 
    padding-bottom: 20px;
    right: 0;
    background-color: rgba(71, 71, 71, 0.4);
    color: white;
}

.other-main {
    position: absolute;
    top: 48px;
    width: 80%;
    height: auto;
    right: 0;
    background-color: #474747;
    color: white;
}

.mobile-main {
    position: absolute;
    top: 48px;
    width: 80%;
    background-color: #474747;
    height: 100%;
    right: 0;
}

.mobile-main h1 {
    color: white;
    margin-left: 2.5rem;
}

#top-nav {
    /* color:#efac2f; */
    background-color: #d0e5e3;
    position: fixed;
    height: auto;
    overflow: visible;
    width: 80%;
    right: 0;
    border-bottom: 2px solid #b8ccc4;
    /*  add this if using additional icons/elements other than <ul> like close
    /* display: flex;
    text-align: center; */
}

#top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    /* flex-flow: row wrap; */
    display: flex;
    justify-content: right;
    position: relative;
    /*text-align: center; */
}

#top-nav a {

    color: #474747;
    text-decoration: none;
    /*keep*/
    padding: 0.5rem 2.5rem;
    display: block;
    font-weight: 600;
}

/* nav a:focus {
    background-color: black;
    color: #efac2f;
} */

#top-nav a:hover {
    background-color: #b8ccc4;
    color: white;
}

/* for highlighted tab currently active */
.active {
    background-color: #b8ccc4;
    color: #474747;
}

/* dropdown menu for projects tab */
#top-nav .dropdown {
    position: relative;
    justify-content: left;
}

#top-nav .dropdown-menu {
    font-size: 1rem;
    background-color: rgb(216, 210, 210);
    display: none;
    position: absolute;
    z-index: 1000;
    border-left: 3px solid #b8ccc4;
    ;
    border-bottom: 3px solid #b8ccc4;
    border-right: 3px solid #b8ccc4;
    width: 100%;
}

#top-nav .dropdown:hover .dropdown-menu {
    display: block;
}

/*side nav bar */
#side-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #d0e5e3;
    color: #474747;
    overflow: hidden;
}

.profile, .profile-contact {
    display: flex;
    /* height: 30%; */
    flex-wrap: wrap;
    justify-content: center;
}

.profile h1, .profile-contact h1 {
    border-bottom: 2px solid #b8ccc4;
    position: relative;
    text-align: left;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    height: 51px;
    width: 100%;
}

.profile img {
    position: relative;
    margin: 0;
    width: 190px;
    height: 190px;
    padding: 20px;
    border-radius: 50%;
}

.profile-contact img {
    position: relative;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.about-me {
    position: relative;
    margin: 0 0 60px 0;
    overflow: auto;
}


.about-me h2 {
    border-bottom: 2px solid #b8ccc4;
    border-top: 2px solid #b8ccc4;
    padding: 15px 10px;
    font-size: 1.15rem;
    margin: 0;
}

.about-me p {
    text-align: left;
    padding: 1.0rem;
    margin: 0;
    font-size: 0.95rem;
    /* height: 375px; */

}

.social {
    position: fixed;
    align-items: flex-end;
    height: 5%;
    justify-content: left;
    /* position: fixed; */
    bottom: 15px;

}

.social ul {
    list-style-type: none;
    display: flex;
    margin: 10px;
    padding: 0;
}

.social a {
    text-decoration: none;
    /* display: block; */
    color: #474747;
    padding: 0.5rem 0.5rem;
}

.social a i:hover {
    color: white;
}

/* PROJECTS page side nav bar */
.nav-projects {
    margin-left: 0;
    padding: 0;
    top: 48px;
    height: 100%;
    border-right: 2px solid #b8ccc4;
    position: relative;
}

.nav-projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-projects ul ul a {
    font-size: 1.0rem;
    padding: 0.5rem 0.85rem;
    border-left: 2px solid #47474759;
    border-right: 2px solid #47474759;
    text-align: left;
    margin: 0 2.5rem;   
    width: 100%;
    
}

.nav-projects a {
    color:#474747;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    display: block;
    padding: 0.5rem 2.5rem;    
}

.nav-projects a:hover {
    color: white;
    background-color: #b8ccc4;
}

#intro-vid {
    position: fixed;
    z-index: 0;
    right: 0;
    top: 48px;
    width: 80%;
    height: 650px;
    background-color: black;
}

.top-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.project {
    display: inline-block;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project h2 {
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.project img {
    background-color: grey;
    border-radius: 15%;
    box-shadow: 0 0 1rem #474747;
}

.main h1 {
    font-size: 2.0rem;
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid grey;
}

/* projects page */
.other-main p {
    font-size: 1rem;
}

.other-main h1 {
    margin: 1.5rem;
    color: #ed9f11;
}

.other-main h2 {
    margin-left: 0.5rem;
}

.project-intro {
    border-top: 2px solid white;
    margin: 0;
    padding: 0 1.5rem;
}

.project-intro p {   
    border-radius: 10px;
    background-color: #89888862;
    padding: 1.0rem;
    margin: 0 0 1.5rem 0;
}

.project-intro-blender {
    margin: 0;
    padding: 0 1.5rem;
    width:50%;
}

.project-intro-blender p {
    border-radius: 10px;
    background-color: #89888862;
    padding: 1.0rem;
    margin: 0 0 1.5rem 0;
}


.info {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding: 2rem 0;
    border-top: 2px solid white;
}

.info-blender {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding: 2rem 0;
    border-top: 2px solid white;
    justify-content: space-around;
}

.info-max {
    /* align-items: center; */
    padding: 2rem;
    border-top: 2px solid white;
    
}

.model-photos {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-photos img {
    padding: 0 2.5rem;
    max-width: 100%;
    height: auto;
}

.info-blender video {
   margin: 0 6.0rem;
}

.info-blender h2 {
    margin: 0 0 1.5rem 0;
}

.info h3 {
    margin: 0;
    border-radius: 0%;
}

.info ul {
    width: 30%;
    list-style-type: none;
    margin: 0;
    padding: 0 2.0rem;
}

.info li {
    margin: 1rem 0.5rem;
    padding:0;
}

.info video {
    /* right: 0;
    margin-right: 1rem; */
}

.contact p {
    background-color: #b8ccc4;
    color: white;
}

.contact a {
    text-decoration: none;
    color:#474747;
}

.contact a:hover {
    color: #ed9f11;
}

.resume {
    border-top: 2px solid white;
    display: flex;
    align-items:flex-start;
    margin: 0 0 1.5rem 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: nowrap;
}

.resume h2 {
    margin: 0;
    padding: 1.0rem;
    min-width: 15%;
    text-align: left;
    border-right: 2px solid white;
}

.resume h3 {
    margin: 0 0 1.0rem 0;
}

.resume ul {
    margin: 1.0rem 1.5rem;
    width: 100%;
}

.resume li {
    padding-left: 1.0rem;
    padding-bottom: 0.5rem;
}

.resume i {
    padding-left: 2.0rem;
}

.top {
    --offset: 50px; 
  position: sticky;
  bottom: 20px;      
  margin: 20px; 
  /* place-self: end; */
  margin-top: calc(100vh + var(--offset));
  padding: 13px 15px;
  /* visual styling */
  text-decoration: none;
  font-family: sans-serif;
  background-color: rgba(15,15,15,0.4);
  border-radius: 100%;
  color: #ed9f11;
  white-space: nowrap;
  }

  .static {
    position:absolute;
  }

  .static:hover {
    opacity:0;
  }

html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media only screen and (max-width: 750px) {

    /* hamburger mobile settings */
    #top-nav {
        position: absolute;
        z-index: 1000;
        top: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
        width: 50%;
    }

    #top-nav ul {
        flex-flow: column wrap;
    }

    #side-nav {
        width: 0%;
    }

    .social {
        display: none;
    }

    .resume {
        flex-flow: column wrap;
    }

    .other-main {
        top: 0px;
        width: 100%;
    }
    
    .resume ul {
        border-top: 2px solid white;
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .resume i {
        padding: 0;
    }
}

@media only screen and (max-width: 1100px) {

    .resume {
        font-size: 0.90rem;
    }

   #side-nav {
    font-size: 0.75rem;
   }

    /* .social a {
        position: absolute;
        padding: 0.5rem 1.0rem;
        overflow: hidden;
    } */
    .social #dog {
        display: none;
    }
}